## Artificial Recurrent Neural network - Long Short Term Memory (LSTM)

In [10]:
# Import libraries
import math
import pandas_datareader as web
import yfinance as yf
import datetime
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [33]:
# Define the date range
start_date = datetime.datetime(2013, 1, 1)
end_date = datetime.datetime(2023, 1, 1)

# Fetch S&P 500 data
sp500 = yf.Ticker('^GSPC')
sp500_data = sp500.history(period="1d", start=start_date, end=end_date)

# Remove the time zone information from the date index
sp500_data.index = sp500_data.index.date

# Remove the specified columns and reorder the remaining ones
df = sp500_data[['High', 'Low', 'Open', 'Close', 'Volume']]

# Display the DataFrame
df

                   High          Low         Open        Close      Volume
2013-01-02  1462.430054  1426.189941  1426.189941  1462.420044  4202600000
2013-01-03  1465.469971  1455.530029  1462.420044  1459.369995  3829730000
2013-01-04  1467.939941  1458.989990  1459.369995  1466.469971  3424290000
2013-01-07  1466.469971  1456.619995  1466.469971  1461.890015  3304970000
2013-01-08  1461.890015  1451.640015  1461.890015  1457.150024  3601600000
...                 ...          ...          ...          ...         ...
2022-12-23  3845.800049  3797.010010  3815.110107  3844.820068  2819280000
2022-12-27  3846.649902  3813.219971  3843.340088  3829.250000  3030300000
2022-12-28  3848.320068  3780.780029  3829.560059  3783.219971  3083520000
2022-12-29  3858.189941  3805.449951  3805.449951  3849.280029  3003680000
2022-12-30  3839.850098  3800.340088  3829.060059  3839.500000  2979870000

[2518 rows x 5 columns]